html, body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-image: url('clockface-bg-gw.jpg');
    background-repeat: repeat-y;
    background-position: center center;
    overflow: hidden;
}

#Clockface {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    transform-origin: center top;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    justify-items: center;
    align-items: center;
    gap: 10px;
}

#tie_break {
    font-family: 'Arial Black', sans-serif;
    font-size: 3vw;
    letter-spacing: 10px;
    background-color: rgba(0, 0, 0, 0);
    color: yellow;
    padding: 0;
    text-align: center;
}

.flag_image {
    width: 10vw;
}

.competitor1_font,
.competitor2_font {
    text-align: center;
    color: #ffff01;
    font-size: 4vw;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif;
    white-space: nowrap;
    margin: 0;
}

.competitor2_font {
    color: #1b1464;
}

.competitor1_country_font {
    white-space: nowrap;
    margin-top: 40px;
    text-align: center;
    color: #ffff01;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif
}

.competitor2_country_font {
    white-space: nowrap;
    margin-top: 40px;
    text-align: center;
    color: #1b1464;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Franklin Gothic Bold', 'Arial Black', sans-serif
}

#sv_timer {
    font-size: 13vw;
    text-align: center;
    color: #fe0000;
    background: black;
    font-family: 'LCD2U', monospace;
    padding: 10px;
}

#logo {
    width: 100%;
}

.points {
    text-align: center;
    color: #fe0000;
    font-family: 'LCD2U', monospace;
    background: black;
    padding: 10px;
    font-size: 13vw;
}

.points_dots_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.points_dots {
    visibility: hidden;
    width: 4vw;
    height: 4vw;
    margin: 5px;
}

